{% extends 'base.html' %}

{% block page_title %}
My Tasks
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">

        <h4>My Tasks</h4>

        <table class="table table-bordered">
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for task in tasks %}
            <tr>
                <td>{{ task.task.title }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="{% url 'start_task' task.id %}">Start</a>
                    <a href="{% url 'pause_task' task.id %}">Pause</a>
                    <a href="{% url 'mark_done' task.id %}">Done</a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}